.main {
  height: 60px;
  .grid-hover {
    position: relative;
  }
  .grid-dropDown {
    background-color: white;
    position: absolute;
    z-index: 1;
    box-shadow: 2px 2px #888888;
    top: 60px;
    right: 6rem;
    width: 1111px;
    transform: translateY(50px);
    transition: ease-in-out 1s;
    .dropDown-ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      .dropDown-li {
        a {
          color: rgba(0, 0, 0, 0.349);
          text-decoration: none;
          &:hover {
            color: black;
          }
        }
      }
    }
  }
}
