.main {
  .grid-hover {
    position: relative;
    cursor: pointer;
  }
  .grid-dropDown {
    position: absolute;
    top: 142px;
    width: 100%;
    left: 0px;
    opacity: 0;
    .dropDown-ul {
      display: flex;
      justify-content: space-around;
    }
  }
  &:hover {
    transition: 0.5s;
    .grid-dropDown {
      position: absolute;
      top: 142px;
      width: 100%;
      left: 0px;
      opacity: 1;
      .dropDown-ul {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
